@import "style-portfolio";
@import 'animation';



html, body {
	color: $font_color;
	font: {
	size: $font_size;
	family: $font_family;
	} 
	line-height: $line_height;
	letter-spacing: $letter_spacing;
	overflow-y: hidden;
}

section {
	width: 100%;
	height: 100vh;
	z-index: 0;
}

.wrapper {
	width: $wrapper_width;
	height: 100%;
	margin: $margin_auto;
	z-index: 10;
}

.title-wrap {
	padding-top: 188px;
	.title {
		position: relative;
		display: inline-block;
		z-index: 20;
		&::before {
			display: block; 
			content: "";
			position: absolute;
			left: -0.5em;
			top: -0.5em;
			width: 150px;
			height: 150%;
			z-index: -1;
			
		}
		font: {
			size: $font_size_title;
		}
	}
}

 /******** header ********/
.header { 
	position: fixed;
	width: $header_width;
	height: $header_height;
	padding: $header_padding;
	display: flex;
	justify-content: space-between;
	.logo {
		font-size: 1.5em;
		color: $main_color;
	}
	.header-right {
		display: flex;
		align-items: baseline;
		.lang {
			cursor: pointer;
		}
		.navi {
			display: flex; 
			flex-direction: column;
			padding-left: 1em;
			.navi-icon {
				flex-shrink: 0;
				box-sizing: border-box;
				width: 25px; 
				height: 20px;
				border: {
					bottom:2px solid $main_color;
					top: 2.5px solid $main_color;
				}
				cursor: pointer;
			}
		}
		ul {
			display: none;
			position: absolute;
			margin-top: 2em;
			background-color: #fff;
			padding-right: 2em;
			flex-direction: column;
			li {
				cursor: pointer;
				user-select: none;
				margin: 1em 0;
			}
			&.on {
				display: flex;
			}
		}
	}
}	

/********* side-navi ********/
.side-navi {
	position: fixed;
	right: 104px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;

	.side-btn {
		width: 5px;
		height: 35px;
		background-color: $font_color;
		margin-bottom: 10px;
		cursor: pointer;
		&::after {
			display: block;
			content:"";
			width: 15px;
			height: 100%;
			transform: translateX(-7.5px);
		}
		&.on {
			background-color: $main_color;
		 }
	}
}

/********* main ********/
.main {
	background: url("../img/bg-main.png");
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		
	}
	.title{
		font: {
			size: 8.5em;
		}
		margin-bottom: 0.1em;
	}
	.sub-title{
		padding-left: 0.5em;
		color: lighten($font_color, 5%);
		letter-spacing: $letter_spacing - 3;
		font: {
			size: 6em;
			weight: 400;
		}
	}
	.ellipse {
		position: absolute; left: 50%; bottom: -12%; transform:translateX(-50%);
		@include aniScale;
	}
} 

/********* about me ********/
.about-me {
	background: url("../img/shirt.png") no-repeat calc(100% + 250px) calc(100% + 300px), url("../img/bg-about-me.png");
	.title::before {
		background: url("../img/bg-main.png");
	}
	.desc {
		margin-top: 2em;
		font : {
		size: $font_size_desc;
		family:$font-family-section;
		}
	}
	.skill-wrapper {
		padding-top: 6em;
		display: flex;
		justify-content: space-between;
		.skill-wrap {
			display: flex;
			flex-direction: column;
			flex:18% 0 0;
			.skill {
				text-align: center;
				font: {
					family: $font-family-sub;
					size: 1.5em;
				}
			}
			.skill-img {
				padding-top: 2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.img-wrap {
					flex:40% 0 0;
				}
			}
		}
	}
}

/********* front-end ********/
.front-end {
	background: url("../img/statue.png") no-repeat calc(100% + 130px) calc(100% + 240px), url("../img/bg-front.png");
	.title::before {
		background: url("../img/bg-front.png");
	}
}



/********* back-end ********/
.back-end {
	background: url("../img/cat.png") no-repeat calc(100% + 340px) calc(100% + 260px), url("../img/bg-back.png");
	.title::before {
		background: url("../img/bg-about-me.png");
	}
}



/********* UI/UX ********/
.ui-ux {
	background: url("../img/bg-main.png");
	.title::before {
		background: url("../img/bg-back.png");
	}
}










/********* footer ********/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: $header_padding;
	.contact {
		color:$main_color;
		font-size: 1.2em;
		font-family: $font-family-sub;
		font-weight: 500;
		cursor: pointer;
	}
	.git {
		width: 25px;
		height: 25px;
		img {
			width: 100%; 
			height: 100%;
			transition:transform 0.5s;
		}
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}


