@import 'responsive';
@import "style-portfolio";
@import 'animation';


html, body {
	color: $font_color;
	font: {
	size: $font_size;
	family: $font_family;
	} 
	line-height: $line_height;
	letter-spacing: $letter_spacing;
	overflow-y: hidden;
}
.section-wrapper {
	position: absolute;
	transition: all 0.65s cubic-bezier(0.355, 0.15, 0.655, 0.155);
}

section {
	width: 100%;
	height: 100vh;
	z-index: 0;
	}


.wrapper {
	width: $wrapper_width;
	height: 100%;
	margin: $margin_auto;
	z-index: 10;
}

#lang-ko {
	display: none;
	font-family: $font-family-kr;
	&.active {
		display: block;
	}
}

#lang-en {
	display: none;
	&.active {
		display: block;
	}
}

.title-wrap {
	padding-top: 188px;
	.title {
		position: relative;
		display: inline-block;
		z-index: 20;
		&::before {
			display: block; 
			content: "";
			position: absolute;
			left: -0.5em;
			top: -0.5em;
			width: 150px;
			height: 150%;
			z-index: -1;
			
		}
		font: {
			size: $font_size_title;
		}
	}
}

 /******** header ********/
.header { 
	position: fixed;
	z-index: 100;
	width: $header_width;
	height: $header_height;
	padding: $header_padding;
	display: flex;
	justify-content: space-between;
	.logo {
		font-size: 1.5em;
		color: $main_color;
	}
	.header-right {
		display: flex;
		align-items: baseline;
		.lang-bt {
			cursor: pointer;
		}
		.navi {
			display: flex; 
			flex-direction: column;
			padding-left: 1em;
			.navi-icon {
				flex-shrink: 0;
				box-sizing: border-box;
				width: 25px; 
				height: 20px;
				border: {
					bottom:2.5px solid $main_color;
					top: 2.5px solid $main_color;
				}
				cursor: pointer;
			}
		}
		ul {
			display: none;
			position: absolute;
			margin-top: 2em;
			background-color: #fff;
			padding-right: 2em;
			flex-direction: column;
			li {
				cursor: pointer;
				user-select: none;
				margin: 1em 0;
			}
			&.on {
				display: flex;
			}
		}
	}
}	

/********* side-navi ********/
.side-navi {
	position: fixed;
	z-index: 100;
	right: 104px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;

	.side-btn {
		width: 5px;
		height: 35px;
		background-color: $font_color;
		margin-bottom: 10px;
		cursor: pointer;
		&::after {
			display: block;
			content:"";
			width: 15px;
			height: 100%;
			transform: translateX(-7.5px);
		}
		&.on {
			background-color: $main_color;
		 }
	}
}

/********* main ********/
.main {
	background: url("../img/bg-main.png");
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		
	}
	.title{
		font: {
			size: $font_size_title*2;
		}
		margin-bottom: 0.1em;
		&#lang-ko {
			font-size: $font_size_title+2em;
			font-weight: 500;
			letter-spacing: $letter_spacing - 5;
		}
	}
	.sub-title{
		padding-left: 0.5em;
		color: lighten($font_color, 5%);
		letter-spacing: $letter_spacing - 3;
		font: {
			size: 6em;
			weight: 400;
		}
		&#lang-ko {
			margin-left: 3em;
			font-weight: 300;
			letter-spacing: $letter_spacing - 6;
		}
	}
	.ellipse {
		position: absolute; left: 50%; bottom: -12%; transform:translateX(-50%);
		@include aniScale;
	}
} 

/********* about me ********/
.about-me {
	background: url("../img/shirt.png") no-repeat calc(100% + 250px) calc(100% + 300px), url("../img/bg-about-me.png");
	.title::before {
		background: url("../img/bg-main.png");
	}
	.desc {
		margin-top: 2em;
		font : {
		size: $font_size_desc;
		family:$font-family-section;
		}
	}
	.skill-wrapper {
		padding-top: 6em;
		display: flex;
		justify-content: space-between;
		.skill-wrap {
			display: flex;
			flex-direction: column;
			flex:15% 0 0;
			.skill {
				text-align: center;
				font: {
					family: $font-family-sub;
					size: 1.5em;
				}
			}
			.skill-img {
				padding-top: 2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.img-wrap {
					flex:35% 0 0;
					padding-bottom: 1.5em;
				}
			}
		}
	}
}

/********* front-end ********/
.front-end {
	background: url("../img/statue.png") no-repeat calc(100% + 180px) calc(100% + 240px), url("../img/bg-front.png");
	.title::before {
		background: url("../img/bg-front.png");
	}
	.front-slide-stage {
		position: relative;
		overflow: hidden;
	}
	.front-slide-wrap {
		display: flex;
		width: 150%;
		padding-top: 7em;
		position: relative;
		
		.front-slide {
			position: relative;
			perspective: 300px;
			z-index: 15;
			cursor: pointer;
			transition:all 0.5s;

			.slide-image {
				transition:all 0.5s;
				position: relative;
				box-shadow: $section_shadow;
				&::after {
					display: block;
					content:"";
					position: absolute;
					top: 0;
					width: 100%; 
					height: 100%;
					background: #000;
					opacity: 0;
					transition:all 0.5s;
				}
				&:hover {
					&::after {
						opacity: 0.3;
					}
					.slide-title {
						opacity: 1;
						top: 50%;
					}
				}
			}
			.slide-title {
				position: absolute;
				top: 70%; left: 50%;
				color: #fff;
				transform: translate(-50%, -50%);
				font-family: $font-family-title;
				font-size: 3em;
				font-weight: 600;
				transition: all 0.5s;
				z-index: 16;
				opacity: 0;
				user-select: none;
			}
			.slide-desc {
				opacity:0;
				transition: all 0.3s;
				padding-top: 2em;
				visibility: hidden;
				text-align: center;
				font-family: $font-family-section;
				font-size: 1.5em;
				user-select: none;
			}

			&:hover {
				.slide-desc {
					opacity:1;
					visibility: visible;
				}
			}
		}
		
		.front-slide.slide-left {
			z-index: 1;
			flex: 16.6666% 0 0;
			.slide-image, .slide-desc {
				transform: rotateY(-20deg) scaleX(0.6);
			}
			.slide-desc {
				padding-top: 1em;
			}
		}
		.front-slide.slide-center {
			flex:33.3333% 0 0;
			.slide-image, .slide-desc {
				opacity:1;
				visibility: visible;
				transform: translateY(-60px);
			}
		}
		.front-slide.slide-right {
			z-index: 1;
			flex: 16.6666% 0 0;
			.slide-image, .slide-desc {
				transform: rotateY(20deg) scaleX(0.6); 
			}
			.slide-desc {
				padding-top: 1em;
			}
		}
	}

}


	.bt-wrap {
		position: absolute; 
		top: 50%;
		color: $main_color;
		width: 78%;
		transform:translate(-2.597% , -70%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index:0;
		.bt {
			cursor: pointer;
			z-index: 100;
			display: inline-block;
		}
	}



/********* back-end ********/
.back-end {
	background: url("../img/cat.png") no-repeat calc(100% + 340px) calc(100% + 260px), url("../img/bg-back.png");
	.title::before {
		background: url("../img/bg-about-me.png");
	}
}



/********* UI/UX ********/
.ui-ux {
	background: url("../img/bg-main.png");
	.title::before {
		background: url("../img/bg-back.png");
	}
}










/********* footer ********/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: $header_padding;
	.contact {
		color:$main_color;
		font-size: 1.2em;
		font-family: $font-family-sub;
		font-weight: 500;
		cursor: pointer;
	}
	.git {
		width: 25px;
		height: 25px;
		img {
			width: 100%; 
			height: 100%;
			transition:transform 0.5s;
		}
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

@include pc {

}
@include laptop {
	html, body {
		font-size: 14px;
	}
	.bt-wrap {
		display: none;
	}
}
@include tablet {
	html, body {
		font-size: 12px;
	}
	.front-slide-wrap {
		flex-direction: column;
		.front-slide {
			height: 10%; 
			width: auto;
			.slide-image {
				transform:scaleX(1) rotateY(0);
				
			}
		}
	}
}
@include mobile {
	html, body {
		font-size: 10px;
	}
}

