@import 'responsive';
@import "style-portfolio";
@import 'animation';


html, body {
	color: $font_color;
	font: {
	size: $font_size;
	family: $font_family;
	} 
	line-height: $line_height;
	letter-spacing: $letter_spacing;
	overflow-y: hidden;
}
.section-wrapper {
	position: absolute;
	transition: all 0.65s cubic-bezier(0.355, 0.15, 0.655, 0.155);
}

section {
	width: 100%;
	height: 100vh;
	z-index: 0;
	}


.wrapper {
	width: $wrapper_width;
	height: 100%;
	margin: $margin_auto;
	z-index: 10;
}

#lang-ko {
	display: none;
	font-family: $font-family-kr;
	&.active {
		display: flex;
	}
}

#lang-en {
	display: none;
	&.active {
		display: flex;
	}
}

.title-wrap {
	padding-top:11%;
	.title {
		position: relative;
		display: inline-block;
		z-index: 20;
		&::before {
			display: block; 
			content: "";
			position: absolute;
			left: -0.5em;
			top: -0.5em;
			width: 150px;
			height: 150%;
			z-index: -1;
			
		}
		font: {
			size: $font_size_title;
		}
	}
}

.slide-title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70%; left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
	font-size: 1.5em;
	font-family: $font-family-title;
	font-weight: 600;
	transition: all 0.6s;
	z-index: 16;
	opacity: 0;
	user-select: none;
}
.slide-desc {
	opacity:0;
	transition: all 0.3s;
	padding-top: 2em;
	visibility: hidden;
	text-align: center;
	font-family: $font-family-section;
	font-size: 1em;
	user-select: none;
}

 /******** header ********/
.header { 
	position: fixed;
	z-index: 100;
	width: $header_width;
	height: $header_height;
	padding: $header_padding;
	display: flex;
	justify-content: space-between;
	.logo {
		font-size: 1.5em;
		color: $main_color;
	}
	.header-right {
		display: flex;
		align-items: baseline;
		.lang-bt {
			cursor: pointer;
		}
		.navi {
			display: flex; 
			flex-direction: column;
			padding-left: 1em;
			.navi-icon {
				flex-shrink: 0;
				box-sizing: border-box;
				width: 25px; 
				height: 20px;
				&::after {
					display: block;
					content: "";
					transform-origin: center;
					transform:translateY(0) rotate(0);
					border-bottom:2.5px solid $main_color ;
					animation-duration: 0.6s;
					animation-name: none;
					animation-fill-mode: forwards;
				}
				&::before {
					display: block;
					transform-origin: center;
					content: "";
					transform: translateY(21.5px) rotate(0);
					animation-duration: 0.6s;
					border-top:2.5px solid $main_color ;
					animation-name: none;
					animation-fill-mode: forwards;
				}
				&.on {
					&::after {
						animation-name: naviAni;
					}
					&::before {
						animation-name: naviAni2;
					}
				}
				&.aniNavi {
					&::after {
						animation-name: naviAni3;
					}
					&::before {
						animation-name: naviAni4;
					}
				}
				cursor: pointer;
			}
		}
		ul {
			visibility: hidden;
			display: flex;
			position: fixed;
			top: 0;
			left: 10%;
			transform:translateY(-40px);
			width: 80%;
			//background-color: $bg_color;
			transition: all 0.5s;
			li {
				padding: 0.375em 0;
				flex:20% 0 0;
				text-align: center;
				color: darken($font_color,85%);
				background: none;
				font-size: 1.25em;
				font-weight: 400;
				user-select: none;
				transition:all 0.7s;
				cursor: pointer;
			&.on {
				background: darken($font_color,85%);
				color: $bg_color;
			}
			}
			&.on {
				visibility: visible;
				transform:translateY(0px);
				top:0;
			}
		}
	}
}	

/********* side-navi ********/
.side-navi {
	position: fixed;
	z-index: 100;
	right: 104px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;

	.side-btn {
		width: 5px;
		height: 35px;
		background-color: $font_color;
		margin-bottom: 10px;
		cursor: pointer;
		&::after {
			display: block;
			content:"";
			width: 15px;
			height: 100%;
			transform: translateX(-7.5px);
		}
		&.on {
			background-color: $main_color;
		}
	}
}

/********* main ********/
.main {
	background: url("../img/bg-0.png");
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		
	}
	.title{
		display: flex;
		overflow: hidden;
		position: relative;
		padding-bottom: 0.125em;
		width: 80%;
		font: {
			size: $font_size_title*2;
		}
		margin-bottom: 0.1em;
		.title-ani-stage {
			flex:50% 0 0;
			position: relative;
			
			.title-ani-wrap {
				position: absolute;
				top: 0;
				transition: all .5s;
			}
			.title-ani-el {
				display: block;
				transition: all .5s;
			}
		}
		.title-ani-el2 {
			transition: all .5s;
		}
		&#lang-ko {
			font-size: $font_size_title+2em;
			font-weight: 500;
			letter-spacing: $letter_spacing - 5;
		}
		&#lang-en {
			transform: translateX(0.75em);
			width: 80%;
			font-size: $font_size_title+1.5em;
			font-weight: 300;
			
		}
	}
	.sub-title{
		padding-left: 0.5em;
		color: lighten($font_color, 5%);
		letter-spacing: $letter_spacing - 3;
		font: {
			size: 6em;
			weight: 400;
		}
		&#lang-ko {
			margin-left: 3em;
			font-weight: 300;
			letter-spacing: $letter_spacing - 6;
		}
	}
	.ellipse {
		position: absolute; left: 50%; bottom: -12%; transform:translateX(-50%);
	}
} 

/********* about me ********/
.about-me {
	background: url("../img/shirt.png") no-repeat calc(100% + 250px) calc(100% + 300px), url("../img/bg-1.png");
	.title::before {
		background: url("../img/bg-0.png") no-repeat;
		background-size: auto 1000px;
	}
	.desc {
		margin-top: 2em;
		font : {
		size: $font_size_desc;
		family:$font-family-section;
		}
		&#lang-ko {
			font-weight: 400;
			line-height: 1.3;
		}
	}
	.skill-wrapper {
		padding-top: 6em;
		width: 95%;
		display: flex;
		justify-content: space-between;
		.skill-wrap {
			display: flex;
			flex-direction: column;
			flex:15% 0 0;
			.skill {
				text-align: center;
				font: {
					family: $font-family-sub;
					size: 1.5em;
					weight: 500;
				}
			}
			.skill-img {
				padding-top: 2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				.img-wrap {
					flex:40% 0 0;
					padding-bottom: 1.5em;
				}
			}
		}
	}
}

.slide-stage {
	position: relative;
	overflow: hidden;
}

.slide-wrap {
	display: flex;
	width: 150%;
	padding-top: 7em;
	position: relative;

	.slide {
		position: relative;
		perspective: 300px;
		z-index: 15;
		transition:all 0.6s;
		cursor: pointer;

		.slide-image {
			transition:all 0.7s;
			position: relative;
			box-shadow: $section_shadow;
			&::after {
				display: block;
				content:"";
				position: absolute;
				top: 0;
				width: 100%; 
				height: 100%;
				background: #000;
				opacity: 0;
				transition:all 0.5s;
			}
			
			
			&:hover {
				&::after {
					opacity: 0.3;
				}
				.slide-title {
					opacity: 1;
					top: 50%;
				}
			}
		}
		

		&:hover {
			.slide-desc {
				opacity:1;
				visibility: visible;
			}
		}
	}
	.slide:nth-child(3) .slide-image .slide-title {
		font-size: 3em;
	}
	.slide:nth-child(3) .slide-desc {
		font-size: 1.5em;
	}


	.slide.slide-left {
		z-index: 1;
		flex: 16.6666% 0 0;
		.slide-image, .slide-desc {
			transform: rotateY(-20deg) scaleX(0.6);
		}
		.slide-desc {
			padding-top: 1em;
		}
	}
	.slide.slide-center {
		flex:33.3333% 0 0;
		.slide-image, .slide-desc {
			opacity:1;
			visibility: visible;
			transform: translateY(-60px);
		}
	}
	.slide.slide-right {
		z-index: 1;
		flex: 16.6666% 0 0;
		.slide-image, .slide-desc {
			transform: rotateY(20deg) scaleX(0.6); 
		}
		.slide-desc {
			padding-top: 1em;
		}
	}
	
}

/********* front-end ********/
.front-end {
	background: url("../img/statue.png") no-repeat calc(100% + 180px) calc(100% + 240px), url("../img/bg-2.png");
	.title::before {
		background: url("../img/bg-2.png");
	}
.bt-wrap {
	position: absolute; 
	top: 50%;
	color: $main_color;
	width: 78%;
	transform:translate(-2.597% , -70%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:0;
	.bt {
		cursor: pointer;
		z-index: 100;
		display: inline-block;
	}
}

}

/********* back-end ********/
.back-end {
	background: url("../img/cat.png") no-repeat calc(100% + 340px) calc(100% + 260px), url("../img/bg-3.png");
	.title::before {
		background: url("../img/bg-1.png");
	}
	.back-slide-wrap {
		position: relative;
	}
		.slide-image {
			margin: 2em auto;
			width: 60%;
			height: 40%;
			cursor: pointer;
			img {
				width: 100%;
			}
		}
		.slide-title {
			opacity: 1;
			color:#000;
			font-size: 2em;
			top: -5%;
		}
		.slide-desc {
			opacity: 1;
			font-size: 2em;
			padding-top: 0;
			visibility: visible;
		}
	}




/********* UI/UX ********/
.uiux {
	position: relative;	
	background: url("../img/bg-1.png");
	.title::before {
		background: url("../img/bg-3.png");
	}
	.bt-wrap {
		position: absolute; 
		top: 50%;
		color: $main_color;
		width: 78%;
		transform:translate(-2.597% , -70%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index:0;
		.bt {
			cursor: pointer;
			z-index: 100;
			display: inline-block;
		}
	}
}



/********* footer ********/
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: $header_padding;
	z-index: 100;
	.footer-wrap{
		padding-right: 2em;
		.contact {
			color: $main_color;
			font-size: 1.2em;
			font-family: $font-family-sub;
			font-weight: 500;
			transition: all 0.5s;

		}
		.git {
			a {
				display: block;
				font-size: 1.125em;
				padding-top: 0.25em;
				transform: translateX(-10px);
				opacity: 0;
				transition: all 0.5s;
				cursor: pointer;
				&:nth-child(2) {
					transition-delay: 0.1s;
				}
				&:nth-child(3) {
					transition-delay: 0.15s;
				}
			}
			
		}
		&:hover {
			a {
				opacity: 1;
				transform: translateX(0);
				&:nth-child(2) {
					transition-delay: 0;
				}
				&:nth-child(3) {
					transition-delay: 0;
				}
			}
		}
	}
	.copyright {
		letter-spacing: -1.2px;
	}
}

.email-wrap {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #0f0f14cc;

	.form-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		height: 50%;
		transform:translate(-50%, -50%);
		background: #b9b9b9;	
		border: 2px solid #111;
		box-shadow: 1px 1px 0px 1px #a1a1a1 inset;
		.mail-header {
			position: absolute; 
			top: 0;
			width: 100%;
			height: 7%;
			box-shadow: 0px 0px 0px 2px #a1a1a1 inset;
			background: #808080;	
			margin-bottom: 0.5em;
				i.fa {
					margin: 0 0.5em;
					position: absolute; 
					
					top: 48%;
					text-align: center;
					transform: translateY(-50%);
				}
				span {
					position: absolute;
					display: inline-block;
					top: 48%;
					left: 5%;
					transform: translateY(-50%);
					font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					font-weight: bold;
					letter-spacing: normal;
				}
				i.fa-close {
					right: 0;
					height: 18px;
					width: 18px;
					background-color: #a1a1a1;
					box-shadow: 1px 1px 0px 1px #727272 inset;
					cursor: pointer;
				}
		}

	}
	form {
		display: flex;
		flex-direction: column;
		width: 98%;
		height: 98%;
		
	}

	.email {
		display: flex;
		border: 1px solid #111;
		box-shadow: 1px 1px 0px 0.5px #757575 inset;
		margin: 1em auto;
		margin-top: 3em;
		padding: 0.5em 0.5em;
		flex-direction: column;
		width: 95%;
	}
	input {
		margin: 0.25em 0;
		box-shadow: 0.5px 0.5px 0px 0.5px #3d3d3d inset;
	}
	.mymail{
		cursor: auto;
		&:focus {
			outline-style: none;
		}
		&::placeholder {
			color: $font_color;
			font-style: italic;
		}
	}
	.comment {
		width: 95%;
		border-top: 2px solid #111;
		border-left: 1px solid #111;
		box-shadow: 0.5px 1px 0px 1px #3d3d3d inset;
		margin: 0.5em 1em auto;
		height: 40%;
	}
	.bt-send {
		position: absolute;
		right: 4.8%;
		bottom: 3%;
		width:10%;
	}
}


/********* aside ********/
.detail-wrap {
	position: relative;
	display: none;
	z-index: 999;
	width: 100%;
	height: 100vh;
	left:20%;
	.detail {
		position: absolute;
		height: 100%;
		width: 35%;
		right: 0;
		background: #e7e7e9;
		border: 3px solid #000;
		.detail-desc {
			font-family: $font-family-kr;
			padding: 2em 3em;
		}
		.video-top {
			height: 3%;
		}
		.video {
			position: relative;
			overflow: hidden;
			width: 80%;
			height: 33%;
			margin: 0 auto;
			iframe {
				width: 100%;
				height: 140%;
				position: absolute;
				top: -20%;
				z-index: 1;
			}
			.fence {
				position: absolute;
				top: 0;	
				cursor: pointer;
				z-index: 25;
				width: 100%; 
				height: 100%;
				background: black;
			}
		}
	
		
	}
	i.detail-close {
		position: absolute;
		top: 40%;
		right: 33.5%;
		font-size: 3em;
		cursor: pointer;
		
	}

	.deco {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35%;
		height: 120px;
		border: 3px solid #000;
		background: #e1e1e8;
		i {
			position: absolute;
			top: 22.5%;
			right: 5%;
			font-size: 4em;
			cursor: pointer;

		}
	}
	.deco2 {
		position: absolute;
		right: 8%;
		bottom: 0px;
		width: 350px;
		height: 150px;
		border: 3px solid #000;
		background:#ccd2e4;
	}
}

@include pc {

}
@include laptop {
	html, body {
		font-size: 14px;
	}
	.bt-wrap {
		display: none;
	}
}
@include tablet {
	html, body {
		font-size: 12px;
	}
	.front-slide-wrap {
		flex-direction: column;
		.front-slide {
			height: 10%; 
			width: auto;
			.slide-image {
				transform:scaleX(1) rotateY(0);
				
			}
		}
	}
}
@include mobile {
	html, body {
		font-size: 10px;
	}
}

