$midpc: 1680px;
$pc: 1439px;
$laptop: 991px;
$tablet: 767px;
$mobile: 575px;

@mixin midpc {
	@media screen and (max-width: $midpc) {
		@content;
	}
}

@mixin pc {
	@media screen and (max-width: $pc) {
		@content;
	}
}


@mixin laptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}


@mixin tablet {
	@media screen and (max-width: $tablet) {
		@content;
	}
}


@mixin mobile {
	@media screen and (max-width: $mobile) {
		@content;
	}
}
