@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Raleway:wght@300;400;500;600&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

$wrapper_width: 75%;
$header_width: 100%;
$header_height: 100px;
$header_padding: 56px 104px;
$main_color: #0c0cc2;
$font_color: #0d0d16;
$font_size: 16px;
$font_size_title: 4em;
$font_size_desc: 1.75em;
$font_family: 'Ubuntu', sans-serif;
$font-family-section: 'Cantarell', sans-serif;
$font-family-title: 'Raleway', sans-serif;
$font-family-sub: 'Roboto', sans-serif;
$line_height: normal;
$letter_spacing: -2px;
$margin_auto: 0 auto;
$section_shadow: 0 2px 4px rgba(0,0,0,0.2);