@keyframes naviAni {
  0% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(10.5px);
  }
  45% {
    transform: translateY(10.5px);
  }
  100% {
    transform: translateY(10.5px) rotate(-45deg);
  }
}
@keyframes naviAni2 {
  0% {
    transform: translateY(21.5px) rotate(0);
  }
  40% {
    transform: translateY(13.75px);
  }
  45% {
    transform: translateY(13.75px);
  }
  100% {
    transform: translateY(13.75px) rotate(45deg);
  }
}
@keyframes naviAni3 {
  0% {
    transform: translateY(10.5px) rotate(-45deg);
  }
  40% {
    transform: translateY(10.5px);
  }
  45% {
    transform: translateY(10.5px);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes naviAni4 {
  0% {
    transform: translateY(13.75px) rotate(45deg);
  }
  40% {
    transform: translateY(13.75px);
  }
  45% {
    transform: translateY(13.75px);
  }
  100% {
    transform: translateY(21.5px) rotate(0);
  }
}