@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Raleway:wght@300;400;500;600&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap");
html, body {
  color: #0d0d16;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  line-height: normal;
  letter-spacing: -2px;
  overflow-y: hidden;
}

.section-wrapper {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.555, 0.15, 0.555, 0.755);
}

section {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.wrapper {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
}

#lang-ko {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
}
#lang-ko.active {
  display: block;
}

#lang-en {
  display: none;
}
#lang-en.active {
  display: block;
}

.title-wrap {
  padding-top: 188px;
}
.title-wrap .title {
  position: relative;
  display: inline-block;
  z-index: 20;
  font-size: 4em;
}
.title-wrap .title::before {
  display: block;
  content: "";
  position: absolute;
  left: -0.5em;
  top: -0.5em;
  width: 150px;
  height: 150%;
  z-index: -1;
}

/******** header ********/
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding: 56px 104px;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  font-size: 1.5em;
  color: #0c0cc2;
}
.header .header-right {
  display: flex;
  align-items: baseline;
}
.header .header-right .lang-bt {
  cursor: pointer;
}
.header .header-right .navi {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
.header .header-right .navi .navi-icon {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 25px;
  height: 20px;
  border-bottom: 2.5px solid #0c0cc2;
  border-top: 2.5px solid #0c0cc2;
  cursor: pointer;
}
.header .header-right ul {
  display: none;
  position: absolute;
  margin-top: 2em;
  background-color: #fff;
  padding-right: 2em;
  flex-direction: column;
}
.header .header-right ul li {
  cursor: pointer;
  user-select: none;
  margin: 1em 0;
}
.header .header-right ul.on {
  display: flex;
}

/********* side-navi ********/
.side-navi {
  position: fixed;
  z-index: 100;
  right: 104px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.side-navi .side-btn {
  width: 5px;
  height: 35px;
  background-color: #0d0d16;
  margin-bottom: 10px;
  cursor: pointer;
}
.side-navi .side-btn::after {
  display: block;
  content: "";
  width: 15px;
  height: 100%;
  transform: translateX(-7.5px);
}
.side-navi .side-btn.on {
  background-color: #0c0cc2;
}

/********* main ********/
.main {
  background: url("../img/bg-main.png");
}
.main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main .title {
  font-size: 8em;
  margin-bottom: 0.1em;
}
.main .title#lang-ko {
  font-size: 6em;
  font-weight: 500;
  letter-spacing: -7px;
}
.main .sub-title {
  padding-left: 0.5em;
  color: #161626;
  letter-spacing: -5px;
  font-size: 6em;
  font-weight: 400;
}
.main .sub-title#lang-ko {
  margin-left: 3em;
  font-weight: 300;
  letter-spacing: -8px;
}
.main .ellipse {
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translateX(-50%);
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

/********* about me ********/
.about-me {
  background: url("../img/shirt.png") no-repeat calc(100% + 250px) calc(100% + 300px), url("../img/bg-about-me.png");
}
.about-me .title::before {
  background: url("../img/bg-main.png");
}
.about-me .desc {
  margin-top: 2em;
  font-size: 1.75em;
  font-family: "Cantarell", sans-serif;
}
.about-me .skill-wrapper {
  padding-top: 6em;
  display: flex;
  justify-content: space-between;
}
.about-me .skill-wrapper .skill-wrap {
  display: flex;
  flex-direction: column;
  flex: 15% 0 0;
}
.about-me .skill-wrapper .skill-wrap .skill {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
.about-me .skill-wrapper .skill-wrap .skill-img {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-me .skill-wrapper .skill-wrap .skill-img .img-wrap {
  flex: 35% 0 0;
  padding-bottom: 1.5em;
}

/********* front-end ********/
.front-end {
  background: url("../img/statue.png") no-repeat calc(100% + 130px) calc(100% + 240px), url("../img/bg-front.png");
}
.front-end .title::before {
  background: url("../img/bg-front.png");
}
.front-end .front-slide-stage {
  position: relative;
  overflow: hidden;
}
.front-end .front-slide-wrap {
  display: flex;
  width: 150%;
  padding-top: 7em;
  position: relative;
}
.front-end .front-slide-wrap .front-slide {
  position: relative;
  perspective: 300px;
  z-index: 15;
  transition: all 0.5s;
}
.front-end .front-slide-wrap .front-slide .slide-image {
  transition: all 0.5s;
  transform-origin: center top;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.front-end .front-slide-wrap .front-slide .slide-image::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.5s;
}
.front-end .front-slide-wrap .front-slide .slide-image:hover::after {
  opacity: 0.3;
}
.front-end .front-slide-wrap .front-slide .slide-image:hover .slide-title {
  opacity: 1;
  top: 50%;
}
.front-end .front-slide-wrap .front-slide .slide-title {
  position: absolute;
  top: 70%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 600;
  transition: all 0.5s;
  z-index: 16;
  opacity: 0;
}
.front-end .front-slide-wrap .front-slide .slide-desc {
  display: none;
  text-align: center;
  font-family: "Cantarell", sans-serif;
  font-size: 1.5em;
}
.front-end .front-slide-wrap .front-slide.slide-left {
  z-index: 1;
  flex: 16.6666% 0 0;
}
.front-end .front-slide-wrap .front-slide.slide-left .slide-image {
  transform: rotateY(-20deg) scaleX(0.6);
}
.front-end .front-slide-wrap .front-slide.slide-center {
  flex: 33.3333% 0 0;
}
.front-end .front-slide-wrap .front-slide.slide-center .slide-image {
  transform: translateY(-60px);
}
.front-end .front-slide-wrap .front-slide.slide-right {
  z-index: 1;
  flex: 16.6666% 0 0;
}
.front-end .front-slide-wrap .front-slide.slide-right .slide-image {
  transform: rotateY(20deg) scaleX(0.6);
}
.front-end .bt-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #0c0cc2;
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}
.front-end .bt-wrap .bt {
  cursor: pointer;
  z-index: 100;
  display: inline-block;
}

/********* back-end ********/
.back-end {
  background: url("../img/cat.png") no-repeat calc(100% + 340px) calc(100% + 260px), url("../img/bg-back.png");
}
.back-end .title::before {
  background: url("../img/bg-about-me.png");
}

/********* UI/UX ********/
.ui-ux {
  background: url("../img/bg-main.png");
}
.ui-ux .title::before {
  background: url("../img/bg-back.png");
}

/********* footer ********/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 56px 104px;
}
.footer .contact {
  color: #0c0cc2;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.footer .git {
  width: 25px;
  height: 25px;
}
.footer .git img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.footer:hover img {
  transform: scale(1.1);
}